ETCD_NAME={{ inventory_hostname }}
ETCD_DATA_DIR={{ etcd_data_dir }}
ETCD_LISTEN_PEER_URLS=http://{{ ansible_host }}:2380
ETCD_LISTEN_CLIENT_URLS=http://{{ ansible_host }}:2379,http://127.0.0.1:2379
ETCD_INITIAL_ADVERTISE_PEER_URLS=http://{{ ansible_host }}:2380
ETCD_ADVERTISE_CLIENT_URLS=http://{{ ansible_host }}:2379
ETCD_INITIAL_CLUSTER=server1=http://{{ server1_private_ip }}:2380,server2=http://{{ server2_private_ip }}:2380
ETCD_INITIAL_CLUSTER_TOKEN=nebula-etcd-cluster
ETCD_INITIAL_CLUSTER_STATE=new
ETCD_AUTO_COMPACTION_RETENTION=1
ETCD_QUOTA_BACKEND_BYTES=8589934592
