version: "3.8"

x-environment: &default-environment
  DATABASE_URL: postgres://glitchtip:{{ glitchtip_db_password }}@{{ server1_private_ip }}:{{ postgresql_port }}/glitchtip
  SECRET_KEY: {{ glitchtip_secret_key }}
  PORT: {{ glitchtip_port }}
  EMAIL_URL: consolemail://
  GLITCHTIP_DOMAIN: https://errors.{{ domain_name }}
  DEFAULT_FROM_EMAIL: errors@{{ domain_name }}
  CELERY_WORKER_CONCURRENCY: 4

services:
  web:
    image: glitchtip/glitchtip:v{{ glitchtip_version }}
    ports:
      - "{{ glitchtip_port }}:{{ glitchtip_port }}"
    environment: *default-environment
    volumes:
      - {{ glitchtip_data_dir }}/uploads:/code/uploads
    restart: unless-stopped

  worker:
    image: glitchtip/glitchtip:v{{ glitchtip_version }}
    command: ./bin/run-celery-with-beat.sh
    environment: *default-environment
    volumes:
      - {{ glitchtip_data_dir }}/uploads:/code/uploads
    restart: unless-stopped

  migrate:
    image: glitchtip/glitchtip:v{{ glitchtip_version }}
    command: ./manage.py migrate
    environment: *default-environment
    restart: on-failure
