HETZNER_STORAGE_BOX_HOST={{ hetzner_storage_box_host }}
HETZNER_STORAGE_BOX_USER={{ hetzner_storage_box_user }}
PGBACKREST_REPO1_CIPHER_PASS={{ pgbackrest_repo1_cipher_pass }}
PGBACKREST_REPO2_CIPHER_PASS={{ pgbackrest_repo2_cipher_pass }}
