MINIO_ROOT_USER={{ minio_root_user }}
MINIO_ROOT_PASSWORD={{ minio_root_password }}
MINIO_VOLUMES="{{ minio_data_dir }}/disk1 {{ minio_data_dir }}/disk2"
MINIO_OPTS="--address :{{ minio_port }} --console-address :{{ minio_console_port }}"
MINIO_SITE_NAME={{ minio_site_name }}
MINIO_PROMETHEUS_AUTH_TYPE=public
